@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);
@import url(__description/profile__description.css);
@import url(__edit-botton/profile__edit-botton.css);
@import url(__add-botton/profile__add-botton.css);
@import url(__title/profile__title.css);


.profile {
  width: 882px;
  margin: 40px 0 0;
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 1100px) {
  .profile {
    max-width: 700px;  
    margin: 40px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    width: 320px;
    flex-direction: column;
    align-items: center;
  }
}