.elements__like {
  background-image: url(../../../images/elements/Like.svg);
  width: 21px;
  height: 18px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  border: none;
  background-color: white;
}

.elements__like:hover {
  opacity: 0.6;
  cursor: pointer;
}